  html,
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: "raleway", sans-serif;
    background-color: #bdc3c7;
  }
